<!DOCTYPE html>
<html>
    <head>
        <title>
            Дачник | Ларек хозяйственных товаров в Великих Луках
        </title>
    </head>
    <body>
        <p>
            Дачник - это ларек, где вы можете купить все необходимое для вашего дома. 
            У нас продаются банки для овощей, пленки для теплиц и прочие товары. 
            Вы получаете уникальный шанс сохранить урожай по дешевым ценам!
            ДОБРО ПОЖАЛОВАТЬ В "ДАЧНИК"!
        </p>
    </body>
</html>
