<!DOCTYPE html>
<html>
    <head>
        <title>
            Банки | Дачник
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    </head>
    <body>
        <header>

        </header>
        <main>
            <div class="main background-image dachnik-store-background-image">
                <p class="main-title">
                    БАНКИ
                </p>
                <p class="main-info">
                    Банки - это то, что позволяет нам хранить урожай зимой, оставляя их свежими.
                    Они есть в любой кладовке или же подвале и могут стоять в течении долгого времени.
                </p>
                <p class="main-info">
                    Дачник предлагает Вам банки разных объемов: от 40 граммов до 20 литровых бочонков.
                </p>
            </div>
            <div class="main">
                <p class="main-title">
                    АССОРТИМЕНТ
                </p>
                <div>
                    <div class="product-card">
                        <img class="product-menu-card-image" src="{{ url_for('static', path='images/jars/1.png') }}">
                    </div>
                    <div class="product-card">
                        <img class="product-menu-card-image" src="{{ url_for('static', path='images/jars/2.png') }}">
                    </div>
                    <div class="product-card">
                        <img class="product-menu-card-image" src="{{ url_for('static', path='images/jars/3.png') }}">
                    </div>
                    <div class="product-card">
                        <img class="product-menu-card-image" src="{{ url_for('static', path='images/jars/4.png') }}">
                    </div>
                    <div class="product-card">
                        <img class="product-menu-card-image" src="{{ url_for('static', path='images/jars/5.png') }}">
                    </div>
                    <div class="product-card">
                        <img class="product-menu-card-image" src="{{ url_for('static', path='images/jars/6.png') }}">
                    </div>
                </div>
                <p class="common-info">
                    За подробной информацией рекомендуем обращаться к владельцу ларька. Его номер на главной странице.
                </p>
            </div>
        </main>
        <footer>
            <div class="main">
                <p class="main-title">
                    МЕНЮ
                </p>
                <div class="inline-button-menu">
                    <a href="/">
                        <button class="main-button">
                            На главную
                        </button>
                    </a>
                    <a href="/about_us">
                        <button class="main-button">
                            О нас
                        </button>
                    </a>
                </div>
            </div>
        </footer>
    </body>
</html>
