<!DOCTYPE html>
<html>
    <head>
        <title>
            Крышки | Дачник
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    </head>
    <body>
        <header>

        </header>
        <main>
            <div class="main background-image dachnik-store-background-image">
                <p class="main-title">
                    КРЫШКИ
                </p>
                <p class="main-info">
                    Крышки - это вещь, которая нужна для банок, чтобы те могли выполнять свою функцию хранения продуктов.
                    Они покрывают банки, защищая урожай от различных бактерий.
                </p>
                <p class="main-info">
                    Дачник предлагает Вам крышки из металла и пластика от разных производителей.
                </p>
            </div>
            <div class="main">
                <p class="main-title">
                    АССОРТИМЕНТ
                </p>
                <div>
                    <div class="product-card">
                        <img class="product-menu-card-image" src="{{ url_for('static', path='images/lids/1.png') }}">
                    </div>
                    <div class="product-card">
                        <img class="product-menu-card-image" src="{{ url_for('static', path='images/lids/2.png') }}">
                    </div>
                    <div class="product-card">
                        <img class="product-menu-card-image" src="{{ url_for('static', path='images/lids/3.png') }}">
                    </div>
                </div>
                <p class="common-info">
                    За подробной информацией рекомендуем обращаться к владельцу ларька. Его номер на главной странице.
                </p>
            </div>
        </main>
        <footer>
            <div class="main">
                <p class="main-title">
                    МЕНЮ
                </p>
                <div class="inline-button-menu">
                    <a href="/">
                        <button class="main-button">
                            На главную
                        </button>
                    </a>
                    <a href="/about_us">
                        <button class="main-button">
                            О нас
                        </button>
                    </a>
                </div>
            </div>
        </footer>
    </body>
</html>
