<!DOCTYPE html>
<html>
    <head>
        <title>
            Закаточные машинки | Дачник
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    </head>
    <body>
        <header>

        </header>
        <main>
            <div class="main background-image dachnik-store-background-image">
                <p class="main-title">
                    ЗАКАТОЧНЫЕ МАШИНКИ
                </p>
                <p class="main-info">
                    Закаточные машинки - это инструменты для крышек, которые обеспечивают ее надежную вкрутку в банку.
                    Если бы не эти машинки, никакая крышка не закроет банку наглухо и весь урожай пропал бы к зиме.
                </p>
                <p class="main-info">
                    Дачник предлагает Вам закаточные машинки для различных типов крышек.
                </p>
            </div>
            <div class="main">
                <p class="main-title">
                    АССОРТИМЕНТ
                </p>
                <div>
                    <div class="product-card">
                        <img class="product-menu-card-image" src="{{ url_for('static', path='images/seaming_machines/1.png') }}">
                    </div>
                </div>
                <p class="common-info">
                    За подробной информацией рекомендуем обращаться к владельцу ларька. Его номер на главной странице.
                </p>
            </div>
        </main>
        <footer>
            <div class="main">
                <p class="main-title">
                    МЕНЮ
                </p>
                <div class="inline-button-menu">
                    <a href="/">
                        <button class="main-button">
                            На главную
                        </button>
                    </a>
                    <a href="/about_us">
                        <button class="main-button">
                            О нас
                        </button>
                    </a>
                </div>
            </div>
        </footer>
    </body>
</html>
