.background-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    min-height: 100vh;
}

.logo-image {
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
}
