<!DOCTYPE html>
<html>
    <head>
        <title>
            СКО крышки | Дачник
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/dachnik.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/image.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/product.css') }}">
        <link rel="icon" type="image/png" href="/static/images/dachnik/dachnik_favicon.png">
    </head>
    <body>
        <header>
            <div class="dachnik-navigation-inline-menu">
                <button id="about-us-btn" class="dachnik-navigation-inline-menu-button">
                    О нас
                </button>
                <button id="index-btn" class="dachnik-navigation-inline-menu-button">
                    Главная
                </button>
                <button id="help-btn" class="dachnik-navigation-inline-menu-button">
                    Помощь
                </button>
            </div>
        </header>
        <main>
            <div class="product-grid">
                <div class="product-card">
                    <img class="product-image" src="/static/images/lids/regular/lids_regular_belorusskaya_1.png">
                    <ul class="product-description-list">
                        <li>
                            <p class="product-description-text">
                                Материал: металл
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Тип: СКО
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Производитель: "Белорусская"
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Количество: 50 шт.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="product-card">
                    <img class="product-image" src="/static/images/lids/regular/lids_regular_borovichi_1.png">
                    <ul class="product-description-list">
                        <li>
                            <p class="product-description-text">
                                Материал: металл
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Тип: СКО
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Производитель: "Боровичи"
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Количество: 50 шт.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="product-card">
                    <img class="product-image" src="/static/images/lids/regular/lids_regular_dachniy_sezon_1.png">
                    <ul class="product-description-list">
                        <li>
                            <p class="product-description-text">
                                Материал: металл
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Тип: СКО
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Производитель: "Дачный сезон"
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Количество: 50 шт.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="product-card">
                    <img class="product-image" src="/static/images/lids/regular/lids_regular_gospodarochka_1.png">
                    <ul class="product-description-list">
                        <li>
                            <p class="product-description-text">
                                Материал: металл
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Тип: СКО
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Производитель: "Господарочка"
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Количество: 50 шт.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="product-card">
                    <img class="product-image" src="/static/images/lids/regular/lids_regular_marande_1.png">
                    <ul class="product-description-list">
                        <li>
                            <p class="product-description-text">
                                Материал: металл
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Тип: СКО
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Производитель: "Маранде"
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Количество: 50 шт.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="product-card">
                    <img class="product-image" src="/static/images/lids/regular/lids_regular_polinka_1.png">
                    <ul class="product-description-list">
                        <li>
                            <p class="product-description-text">
                                Материал: металл
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Тип: СКО
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Производитель: "Полинка"
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Количество: 50 шт.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="product-card">
                    <img class="product-image" src="/static/images/lids/regular/lids_regular_svetlana_1.png">
                    <ul class="product-description-list">
                        <li>
                            <p class="product-description-text">
                                Материал: металл
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Тип: СКО
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Производитель: "Светлана"
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Количество: 50 шт.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="product-card">
                    <img class="product-image" src="/static/images/lids/regular/lids_regular_yelabuga_1.png">
                    <ul class="product-description-list">
                        <li>
                            <p class="product-description-text">
                                Материал: металл
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Тип: СКО
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Производитель: "Елабуга"
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Количество: 50 шт.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <footer>
            
        </footer>
    </body>
    <script src="/static/js/redirect.js" type="module"></script>
</html>
