<!DOCTYPE html>
<html>
    <head>
        <title>
            Полуавтоматические закаточные машинки | Дачник
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/dachnik.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/image.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/product.css') }}">
        <link rel="icon" type="image/png" href="/static/images/dachnik/dachnik_favicon.png">
    </head>
    <body>
        <header>
            <div class="dachnik-navigation-inline-menu">
                <button id="about-us-btn" class="dachnik-navigation-inline-menu-button">
                    О нас
                </button>
                <button id="index-btn" class="dachnik-navigation-inline-menu-button">
                    Главная
                </button>
                <button id="help-btn" class="dachnik-navigation-inline-menu-button">
                    Помощь
                </button>
            </div>
        </header>
        <main>
            <div class="product-grid">
                <div class="product-card">
                    <img class="product-image" src="/static/images/seamingmachines/semiautomatic/seamingmachine_semiautomatic_belarus_1.png">
                    <ul class="product-description-list">
                        <li>
                            <p class="product-description-text">
                                Материал: металл
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Тип: Полуавтоматические
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Производитель: Беларусь
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="product-card">
                    <img class="product-image" src="/static/images/seamingmachines/semiautomatic/seamingmachine_semiautomatic_belarus_2.png">
                    <ul class="product-description-list">
                        <li>
                            <p class="product-description-text">
                                Материал: металл
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Тип: Полуавтоматические
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Производитель: Беларусь
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="product-card">
                    <img class="product-image" src="/static/images/seamingmachines/semiautomatic/seamingmachine_semiautomatic_belarus_3.png">
                    <ul class="product-description-list">
                        <li>
                            <p class="product-description-text">
                                Материал: металл
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Тип: Полуавтоматические
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Производитель: Беларусь
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="product-card">
                    <img class="product-image" src="/static/images/seamingmachines/semiautomatic/seamingmachine_semiautomatic_belarus_4.png">
                    <ul class="product-description-list">
                        <li>
                            <p class="product-description-text">
                                Материал: металл
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Тип: Полуавтоматические
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Производитель: Беларусь
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <footer>
            
        </footer>
    </body>
    <script src="/static/js/redirect.js" type="module"></script>
</html>
