<!DOCTYPE html>
<html>
    <head>
        <title>
            О нас | Дачник
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    </head>
    <body>
        <header>

        </header>
        <main>
            <div class="main background-image dachnik-store-background-image">
                <p class="main-title">
                    О НАС
                </p>
                <p class="main-info">
                    МЫ НЕ СОБИРАЕМ НИКАКИХ ПОЛЬЗОВАТЕЛЬСКИХ ДАННЫХ ИЛИ СРЕДСТВ НИ В КАКОМ ВИДЕ.
                    Данный сайт создан исключительно для ознакомления с ларьком "Дачник" в городе Великие Луки и его товарами.
                    Программное обеспечение ничего не знает о пользователях.
                </p>
            </div>
        </main>
        <footer>
            <div class="main">
                <p class="main-title">
                    МЕНЮ
                </p>
                <a href="/">
                    <button class="main-button">
                        На главную
                    </button>
                </a>
            </div>
        </footer>
    </body>
</html>
