<!DOCTYPE html>
<html>
    <head>
        <title>
            О нас | Дачник
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/dachnik.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/image.css') }}">
        <link rel="icon" type="image/png" href="/static/images/dachnik/dachnik_favicon.png">
    </head>
    <body>
        <header>
            <div class="dachnik-navigation-inline-menu">
                <button id="catalog-btn" class="dachnik-navigation-inline-menu-button" onclick="window.location.href='/catalog'">
                    Каталог
                </button>
                <button id="index-btn" class="dachnik-navigation-inline-menu-button" onclick="window.location.href='/'">
                    Главная
                </button>
                <button id="help-btn" class="dachnik-navigation-inline-menu-button" onclick="window.location.href='/help'">
                    Помощь
                </button>
            </div>
        </header>
        <main>
            <div class="dachnik-border">
                <p class="dachnik-main-title">
                    О нас
                </p>
                <p class="dachnik-main-text">
                    МЫ НЕ СОБИРАЕМ НИКАКИХ ПОЛЬЗОВАТЕЛЬСКИХ ДАННЫХ НИ В КАКОМ ВИДЕ. 
                    Сайт предназначен для ознакомления с ларьком сельскохозяйственных товаров в Великих Луках.
                    Дачник запоминает исключительно выбранный товар пользователя и забывает все после закрытия вкладки.
                    Он не знает, кто именно выбрал товар, он знает только то, что пользователь выбрал определенный товар.
                    Дачник лишь показывает товары и предлагает пользователю позвонить продавцу по его желанию с целью договориться о сделке.
                </p>
                <p class="dachnik-main-text">
                    Адрес ларька «Дачник»: <span id="dachnik-store-address" data-value="0YPQu9C40YbQsCDQlNGM0Y/QutC+0L3QvtCy0LAsINC00L7QvCAx"></span>.
                </p>
                <p class="dachnik-main-text">
                    Номер владельца ларька «Дачник»: <span id="dachnik-owner-number" data-value="KzcgOTExIDM2NCAwMiA0Mw=="></span>.
                </p>
                <p class="dachnik-main-text">
                    Номер разработчика сайта «Дачник»: <span id="dachnik-developer-number" data-value="KyA3IDkxMSA4ODIgMzEgNjA="></span>.
                </p>
            </div>
        </main>
        <footer>
            <div class="dachnik-background">
                <img class="logo-image" src="/static/images/dachnik/dachnik_logo.png">
            </div>
        </footer>
        <script src="/static/js/about_us/descrypt.js" type="module"></script>
    </body>
</html>
