<!DOCTYPE html>
<html>
    <head>
        <title>
            Главная | Дачник
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/dachnik.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/image.css') }}">
        <link rel="icon" type="image/png" href="/static/images/dachnik/dachnik_favicon.png">
    </head>
    <body>
        <header>
            <div class="dachnik-navigation-inline-menu">
                <button id="about-us-btn" class="dachnik-navigation-inline-menu-button" onclick="window.location.href='/about_us'">
                    О нас
                </button>
                <button id="catalog-btn" class="dachnik-navigation-inline-menu-button" onclick="window.location.href='/catalog'">
                    Каталог
                </button>
                <button id="faq-btn" class="dachnik-navigation-inline-menu-button" onclick="window.location.href='/faq'">
                    Помощь
                </button>
            </div>
        </header>
        <main>
            <div class="dachnik-background">
                <img class="logo-image" src="/static/images/dachnik/dachnik_logo.png">
                <p class="dachnik-main-text">
                    «Дачник» - это ларек хозяйственных товаров в Великих Луках, где Вы можете приобрести банки, крышки, закаточные машины и прочие товары.
                    Если вы ищете место, где продаются товары для сада, огородов и так далее, этот сайт вам поможет.
                </p>
                <p class="dachnik-main-text">
                    На нашем сайте показаны товары, продающиеся в ларьке «Дачник».
                    Здесь Вы найдете то, что понадобится Вам для Вашего урожая по выгодным ценам.
                    Для этого Вам нужно на верхнем меню нажать кнопку «Каталог» и Вам попадется список наших товаров.
                    Информацию про наш ларек Вы найдете в странице «О нас», а по вопросам заходите в «Помощь».
                    Мы продаем только качественные и надежные товары и отсеиваем бракованные на этапе контроля качества.
                    В наш ларек заходили сотни людей и каждый из них доволен нашими товарами.
                    Вы можете пополнить число счастливчиков, просто нажав на «Каталог»!
                </p>
            </div>
            <div class="dachnik-background background-image dachnik-store">
                
            </div>
        </main>
        <footer>
            <div class="dachnik-background">
                <p class="dachnik-main-text">
                    А это наш ларек в реальной жизни, добро пожаловать!
                </p>
            </div>            
        </footer>
    </body>
</html>
