<!DOCTYPE html>
<html>
    <head>
        <title>
            СКО банки | Дачник
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/dachnik.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/image.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/product.css') }}">
        <link rel="icon" type="image/png" href="/static/images/dachnik/dachnik_favicon.png">
    </head>
    <body>
        <header>
            <div class="dachnik-navigation-inline-menu">
                <button id="about-us-btn" class="dachnik-navigation-inline-menu-button">
                    О нас
                </button>
                <button id="index-btn" class="dachnik-navigation-inline-menu-button">
                    Главная
                </button>
                <button id="help-btn" class="dachnik-navigation-inline-menu-button">
                    Помощь
                </button>
            </div>
        </header>
        <main>
            <div class="product-grid">
                <div class="product-card">
                    <img class="product-image" src="/static/images/jars/regular/jar_regular_0,5liter_1.png">
                    <ul class="product-description-list">
                        <li>
                            <p class="product-description-text">
                                Материал: стекло
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Тип: СКО
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Объем: 0.5 л.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="product-card">
                    <img class="product-image" src="/static/images/jars/regular/jar_regular_1liter_1.png">
                    <ul class="product-description-list">
                        <li>
                            <p class="product-description-text">
                                Материал: стекло
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Тип: СКО
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Объем: 1 л.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="product-card">
                    <img class="product-image" src="/static/images/jars/regular/jar_regular_1,5liter_1.png">
                    <ul class="product-description-list">
                        <li>
                            <p class="product-description-text">
                                Материал: стекло
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Тип: СКО
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Объем: 1.5 л.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="product-card">
                    <img class="product-image" src="/static/images/jars/regular/jar_regular_2liter_1.png">
                    <ul class="product-description-list">
                        <li>
                            <p class="product-description-text">
                                Материал: стекло
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Тип: СКО
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Объем: 2 л.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="product-card">
                    <img class="product-image" src="/static/images/jars/regular/jar_regular_3liter_1.png">
                    <ul class="product-description-list">
                        <li>
                            <p class="product-description-text">
                                Материал: стекло
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Тип: СКО
                            </p>
                        </li>
                        <li>
                            <p class="product-description-text">
                                Объем: 3 л.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <footer>
            
        </footer>
    </body>
    <script src="/static/js/redirect.js" type="module"></script>
</html>
